<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <style>
    	.navbar-dark {
    		background-color: #007E33 !important;
    	}
    </style>

    <title>Querying Data using NodeJS and MySQL</title>
  </head>
  <body>
  	{{> _navbar }}

    {{{ body }}}
  </body>
</html>