<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Form</title>
</head>
<body>
    <div>
        <form action="usercreate" method="POST">
            <label> Name</label><input name="name"> <br/>
            <label>Location</label><input name="loc"><br/>
            <label>Password</label><input type="password" name = 'pass'><br/>
            <button>Submit</button><br/>
        </form>
    </div>
</body>
</html>