/* Styling for wrapper div*/
.wrapper{
    width: 990px;
    margin-left: 175px;
    background-color: #FBCEB1;
    padding: 20px;
    margin-top: 50px;
}
/* Styling for left section div*/
.leftSection{
    width: 585px;
    margin-right: 20px;
}
/* Styling for right div*/
.rightSection{
    width: 450px;
}
/* Styling for customer info, part ordered, shipping and output*/
.customerInfo, .partOrdered, .shipping, .output{
    background-color: #F79862;
    margin-bottom: 10px;
    height: 165px;
}
/* Styling for all html elements displayed in a row*/
.wrapper, .customerInfoInput, .shippingInput, .outputInput, .partOrderedInput, .customerInfo, .partOrdered, .shipping, .output{
    display: flex;
}
/* Styling for input fields*/
.shortInput{
    width: 40px;
    margin-bottom: 5px;
}
.mediumInput{
    width: 170px;
    margin-bottom: 5px;
}
.longInput{
    width: 355px;
    margin-bottom: 5px;
}
.customerInputField{
    margin-left: 15px;
}
.retailerCheck{
    margin-left: 110px;
}
.shippingOne, .shippingTwo{
    padding: 9px;
    margin-right:20px; 
}
.shippingOne{
    margin-right: 50px;
}
.ups, .fedExG{
    margin-bottom: 40px;
}
p{
    margin: 10px;
}
.quantity{
    margin-left: 45px;
}
.partOrderedInputField{
    margin-left:5px;
}
.outputInputField{
    padding-left: 9px;
}
/* Styling for exit, compute and new order buttons*/
.exit{
    float:right;
    background-color: #F79862;
    border: 1px solid white;
    padding: 10px 65px 10px 65px;
    color: black;
    outline: 1px solid blue;
    -moz-outline-radius: 5px;
}
.compute{
    margin-right: 10px;
}
.compute, .newOrder{
    color: black;
    border-color:1px solid white;
    background-color: #F79862;
    padding: 10px 45px 10px 45px;
    outline: 1px solid blue;
    -moz-outline-radius: 5px;
}
.compute:hover, .newOrder:hover, .exit:hover{
    border: 2px dotted blue;
}