<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Form</title>
</head>
<body>
    <fieldset>
        <form action="user_create" method="POST">
            <label for="name">FirstName:</label>
            <input type="text" name="firstName">
            <label for="location">LastName:</label>
            <input type="text" name="lastName">
            <label for="password">Password:</label>
            <input type="password" name="password">
            <input type="submit">
        </form>
    </fieldset>
</body>
</html>