.container{
    width: 1520px;
    height: 650px;
    padding-top: 20px;
}

.container .inner {
    width: 1200px;
    height: 550px;
    background-color: pink;
    margin-left: 150px;
}

.container .inner .top{
    height:220px;
    background-color: #FBCEB1   ;
    padding-top: 10px;
    display: flex;
}

.container .inner .top .topLeft{
    height: 200px;
    margin-left: 10px;
    background-color: #F79862;
    width: 600px;
}

.container .inner .top .topLeft .one{
    height: 50px;
    margin-left: 10px;
    display: flex;
}

.container .inner .top .topLeft .one .customerInput input{
    height: 37px;
    margin-left: 20px;
}

.container .inner .top .topLeft .two .nameInput  input{
    height: 37px;
    margin-left: 74px;
    width: 400px;
}

.container .inner .top .topLeft .three .townInput input{
    height: 37px;
    margin-left: 80px;
    width: 80px;
}

.container .inner .top .topLeft .three .retailCustomer input{
    margin-left: 60px;
}

.container .inner .top .topLeft .two{
    height: 50px;
    margin-left: 10px;
    margin-top: 5px;
    display: flex;
}

.container .inner .top .topLeft .three{
    height: 50px;
    margin-left: 10px;
    margin-top: 5px;
    display: flex;
}

.container .inner .top .topRight{
    height: 200px;
    margin-left: 20px;
    background-color:#F79862;
    width: 560px;
}

.container .inner .middle .middleLeft{
    height: 200px;
    margin-left: 10px;
    background-color: #F79862;
    width: 600px;
}

.container .inner .middle .middleRight{
    height: 200px;
    margin-left: 20px;
    background-color:#F79862;
    width: 560px;
}

.container .inner .middle{
    height:220px;
    background-color:#FBCEB1;
    padding-top: 10px;
    display: flex;
}

.container .inner .bottom{
    height:80px;
    background-color: #FBCEB1;
    padding-top: 10px;
    display: flex;
}

.container .inner .bottom .bottomOne{
    width: 200px;
    height: 50px;
    background-color:#F79862;
    margin-left: 10px;
}

.container .inner .bottom .bottomOne .compute{
    background-color:#F79862;
}


.container .inner .bottom .bottomTwo{
    width: 200px;
    height: 50px;
    background-color: #F79862;
    margin-left: 20px;
}

.container .inner .bottom .bottomThree{
    width: 200px;
    height: 50px;
    background-color:#F79862;
    margin-left: 560px;
}

.container .inner .top .topRight .topShip{
    display: flex;
    padding-top: 20px;
}

.container .inner .top .topRight .bottomShip{
    display: flex;
    padding-top: 50px;
}

.container .inner .top .topRight .fedG{
    margin-left: 120px;
}

.container .inner .top .topRight .bottomShip .fedA{
    margin-left: 50px;
}

.container .inner .middle .middleLeft .partOrd .partNum{
    display: flex;
}

.container .inner .middle .middleLeft .partOrd .partNum .numInput{
    margin-left: 200px;
}

.container .inner .middle .middleLeft .partOrd .description{
    display: flex;
}

.container .inner .middle .middleLeft .partOrd .description .descripInput{
    margin-left: 215px;
}


.container .inner .middle .middleLeft .partOrd .price{
    display: flex;
  
}
.container .inner .middle .middleLeft .partOrd .price .priceInput{
    width: 80%;  
}
.container .inner .middle .middleLeft .partOrd .price .quantityInput{
    width: 40%

}

.container .inner .middle .middleLeft .partOrd .price .quantityLabel{
    margin-left: 10px;
  
}
.container .inner .middle .middleRight .output .costLabel{
    display: flex;
    padding-bottom: 2px;
}

.container .inner .middle .middleRight .output .costInput{
    margin-left: 255px;
    
}

.container .inner .middle .middleRight .output .handlingInput{
    margin-left: 130px;
}

.container .inner .middle .middleRight .output .taxInput{
    margin-left: 300px;
    padding-bottom: 5px;
}


.container .inner .middle .middleRight .output .tax{
  
    padding-bottom: 5px;
}
.container .inner .middle .middleRight .output .handling{
    display: flex;
    padding-bottom: 15px;

}

.container .inner .middle .middleRight output .handling .handlingInput{
    margin-left: 150px;
}

.container .inner .middle .middleRight .output .total{
    display: flex;
    padding-top: 0px;

}
.container .inner .middle .middleRight .output .total .totalInput{
    margin-left: 250px;
}


fieldset{
    height: 180px;
}