<!DOCTYPE html>
<html>
<head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--link to "validate_cuisite.js"-->
    <script type="text/javascript" src="/js/index.js"></script>
    
    <!--link to External Css "w3.css and index.css"-->
    <link type="text/css" href="/css/index.css" rel="stylesheet" />
      <link type="text/css" href="/css/w3css.css" rel="stylesheet" />  
    <title>Toyota Order Form</title></head> 
<body onload="start()">
       <center><h1 id="title">Toyota - Mail Order Form</h1></center> 
<!-- <form  class="w3-container" style="width:110%" action="submitForm" id="form" method="POST"> -->
    <form  class="w3-container" style="width:110%"  id="form">

    <div class="w3-row">
        <div class="w3-row ">
        <!--Customer Information Division-->    
  <div class="w3-col " style="width:60%" id="inf">
    <fieldset id="customr"><legend><b>Customer Information</b></legend>
                    
        <table>
            <tr><td><label class="w3-label ">Customer ID:</label>
                </td>
                <td ><input type="text" class="w3-input" id="id" name="id" placeholder="e.g 1234"/>
            </td></tr>

            <tr><td><label class="w3-label">Name:</label>
            </td>
            <td colspan=4><input type="text" class="w3-input w3-border" id="name" name="name" placeholder="e.g Kato Joseph"/>
        </td></tr>

        <tr><td><label class="w3-label">Town:</label>
        </td>
        <td><input type="text" class="w3-input w3-border " id="state" name="state" style="text-transform: uppercase"   placeholder="e.g KLA"/>
    </td>
    <td>  <input class="w3-check" type="checkbox"  id="cust" name="cust"></td>
    <td> <label class="w3-validate">Retail Customer</label></td>

</tr>
        </table>
    </fieldset>
             
            </div>
           
            <!--Shipping Division-->
  <div class="w3-col " style="width:40%" id="cst">
        <fieldset style=" border:2px solid white;
        height:230px;background-color:#fac695;"><legend><b>Shipping</b></legend>
            <table>
                    <tr><td>  <input class="w3-radio" type="radio" name="ups" value="ups" id="ups">
                        <span class="checkmark"></span>
                        <label class="w3-validate">UPS</label></td>
                        <td> <input class="w3-radio" type="radio" name="fedexg" value="fedexg" id="fedexg">
                            <span class="checkmark"></span>
                            <label class="w3-validate">Fed Ex Ground</td></tr>
        
                                <tr><td> <input class="w3-radio" type="radio" name="usportal" value="usportal" id="usportal">
                                    <span class="checkmark"></span>
                                    <label class="w3-validate" id="usportall">US Portal Air</label></td><td> <input class="w3-radio" type="radio" name="fedexa" value="fedexa" id="fedexa">
                                        <span class="checkmark"></span>
                                        <label class="w3-validate" id="fedexal">Fed Ex Air</label></td></tr>
                                    </table></fieldset>
                            
   </div>
    </div>
    <br>
    <div class="w3-row">
        <!--Part Ordered Division-->
        <div class="w3-col " style="width:60%" id="pt">
                <fieldset id="ordered"><legend><b>Part Ordered</b></legend>
                    <table>
                            <tr><td> <label class="w3-validate">Part Number:</label></td><td><input type="text" class="w3-input w3-border "  id="part-number" name="partnumber" placeholder="$"></td></tr>
                            <tr><td><label class="w3-validate">Description</label></td><td><input type="text" class="w3-input w3-border" id="description" name="description" placeholder="Oil Filter"></td></tr>
                           
                        <tr><td> <label class="w3-validate">Price Per Part:</label></td><td colspan="5"><input type="text" class="w3-input w3-border" id="Price" name="Price" placeholder="$">
                        </td><td>Quantity:</td><td><input type="text" class="w3-input w3-border " id="price-per-part" name="priceperpart" ></td></tr>
                   
                        <tr><td><input class="w3-check" type="checkbox" id="oversize-container"></td>
                   <td>Oversize Container ?</td>
                        </tr>
                    </table>
    </fieldset>
    <br>
<!--Part Buttons Div-->
<div class="w3-row">
    
        &nbsp &nbsp<input type="button" class="compute" onclick="ValidData()" value="Compute"/>&nbsp &nbsp &nbsp &nbsp <input type="button" class="order" onclick="display()" value="New Order"/>
        
       
    </div>
</div>
        <!-- Output Division-->
        <div class="w3-col " style="width:40%" id="out">
                <fieldset id="output"><legend><b>Output</b></legend>
           <table>   
            <tr><td> <label class="w3-validate">Cost:</label></td><td><input type="text" class="w3-input w3-border " id="cost" name="cost" readonly ></td></tr>
            
            <tr><td> <label class="w3-validate">Sales Tax:</label></td><td><input type="text" class="w3-input w3-border " id="tax" readonly></td></tr>
            
            <tr><td> <label class="w3-validate">Shipping Handling:</label></td><td><input type="text" class="w3-input w3-border " id="shipping" name="shipping" readonly></td></tr>
            
            <tr><td> <label class="w3-validate">Total</label></td><td><input type="text" class="w3-input w3-border " id="total" name="total" placeholder="$" ></td></tr>
        </table>  
    </fieldset>
<!--Buttons Div-->
<br>
<div class="w3-row">
        <!-- <button class="exit" onclick="clear()">Exit</button> -->
        <input type="button"  class="exit"  onclick="closeWin()" value="Exit"> 
        <p id="demo"></p>
</div>
</div>
</div>

</form>
<!-- <div class="w3-row">
    
    &nbsp &nbsp<button class="compute"  onclick="ValidData()">Compute</button>&nbsp &nbsp &nbsp &nbsp<button class="order1" onclick="clear()">New Order</button>
   <input type="button"  value="fggfg" class="order" onclick="alert('    gas ')" >
</div> -->
</body>
</html>