<!DOCTYPE html>
<html>
        <head>
                <meta charset="utf-8">
                <!--Form title-->
                <title>Login Form </title>
                <link rel="stylesheet" type="text/css" href="/css/login.css"></link>
              
            </head>
            <body>
                <!--Create  a Form -->
            <div class="login-form">
                <h2 > Please Log In</h2>
                
                <form action="auth" method="POST">
                        <h3 id="error"></h3>
                        <input type="text" name="username" placeholder="Username" required>
                        <input type="password" name="password" placeholder="Password" required>
                        <input type="submit" value="Login"> 
                </form>
                <a style="text-decoration:none" href="register"><p>Register User</p></a>
            </div>
            </body>
</html>