<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Page</title>
</head>
<body>
    <form method="POST" action="/user_login">
        <label for="name">Name: &nbsp;&nbsp;&nbsp;</label>
        <input type="text" name="username"><br><br>
        <label for="location">Location:</label>
        <input type="text" name="location"><br><br>
        <label for="password">Password</label>
        <input type="password" name="password" ><br><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="submit" value="Submit">
    </form>
</body>
</html>