body{background-color: burlywood; margin: 44px 0px 0px 0px;}

/*This is the header styling.*/
div#header{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    color: darkred;
    background: lightgreen;
    padding: 8px;
}

/*This is the footer styling.*/
.f_container{
    background-color: platinum;
    position: fixed;
    bottom: 0px;
    width: 100%;
}
.f_top{
    background-color: #E5E4E2;
}
.f_bottom{
    background-color:blue;     
    
}
.fb_one{
    background-color:chocolate; 
    width: 10%; 
    position: relative;
    display:block;
}
.fb_two{
    background-color:chocolate; 
    width: 10%; 
    position: relative;
    display: block;
}
.fb_three{
    background-color:chocolate; 
    width: 10%; 
    position: relative;
    display: block;
}
.fb_four{
    background-color:chocolate; 
    width: 10%; 
    position: relative;
    display: block;
}
}