 
/* Body */
.body{
    border-block-end-color: aqua
}
/*Input fields*/
input{
color: black(82, 204, 51);
border-spacing: 20cm;
border-color: lightslategrey;
border-collapse: collapse;
}
/*Heading formatting*/
.h2 {
    color: black(82, 204, 51);
    font-weight: normal;
    letter-spacing: .4em;
    margin-bottom: 1em;
    text-transform: capitalize;
    }

    