<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <!-- for responsiveness -->
    <meta
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
      name="viewport"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Tangerine"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous"
    />

    <!-- Bootstrap CSS -->
    <link
      crossorigin="anonymous"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link href="css/style.css" rel="stylesheet" />
    <style>
      body {
        background-image: url('img/bg1.jpg');
        background:rgb(rgba(194, 180, 180, 0.884), rgb(242, 248, 242), rgb(238, 238, 241));
      }
    </style>
    <title>TOYOTA | LOGIN</title>
  </head>
  <body>
    <div class="container">
      <div class="heading">
        <div class="row">
          <div class="col-md-2">
            <img
              src="img/logo.png"
              class="img-responsive"
              width="100%"
              alt=""
            />
          </div>
          <div class="col-md-10">
           
          </div>
        </div>
      </div>
      <div class="logindiv">
        <h1>Login</h1>
        <form action="" method="POST">
          <div class="form-group">
            <label for="email">Email address:</label>
            <input type="email" name="email" class="form-control" id="email" />
          </div>
          <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" name="password" class="form-control" id="pwd" />
          </div>
          <button type="submit" id="loginbtn" class="btn btn-primary">Login</button>
        </form>
      </div>
    </div>

    <!-- validation javascript -->
    <script src="js/validation.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      crossorigin="anonymous"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    ></script>
    <script
      crossorigin="anonymous"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    ></script>
    <script
      crossorigin="anonymous"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    ></script>
  </body>
</html>
