body, html
{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    color: #3c3939;
}

#menu 
{
    background-color: #000080; 
}

#navbar-brand 
{
    color: #ffffff;
}

.profile-card
{
    width: 800px;
    height: 700px;
    margin: auto;
    background: #fff;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
}

#main
{
    position: relative;
}

.skill-bar
{
    background-color: crimson;
    border-radius: 16px;
}

.progress-bar
{
    padding: 0.1em 16px;
    border-radius: 16px;
    text-align: center;
    color: #fff;
    background-color: #4b4fe2
}