body {
  background: rgb(146, 145, 145);
}

/* Styling the header */
header {
  display: flex;
  margin: 0px 100px;
  text-align: center;
}

header h1 {
  text-align: center;
  color: #a11616;
  margin-left: 100px;
}

/* Styling container div */
form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  padding: 20px;
  margin: 10px 100px;
  background: none;
}

/* Styling each of the boxes */
.box {
  background: none;
  padding: 0px;
  height: 200px;
  width: 545px;
}

/*Styling each of the four fieldsets*/
fieldset {
  border: 4px solid #fff;
  height: 180px;
  margin: 0px;
  background: #9db1c0;
}

/* Styling all the four legends */
legend {
  font-size: 25px;
  font-weight: bold;
  color: #4e0808;
}

/* Customer Information Section */
.customerInfo {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 0.8em;
  background: none;
  padding: 10px;
  margin-top: 20px;
}

.customerInfo .long {
  grid-column: 2/3;
  justify-self: start;
}

.long input {
  width: 150px;
}

/* Shipping Section  */
.shipping {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.8em;
  background: none;
  padding: 10px;
  margin-top: 20px;
}

/* Part Ordered Section */
.partOrdered {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.8em;
  background: none;
  padding: 5px;
}

.partOrdered div:last-child {
  grid-column: 1/3;
  justify-self: center;
}

.partOrdered .pricePerPart {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.5em;
}

/* Output Section */
.output {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.8em;
  background: none;
  padding: 10px;
}

.output > div:nth-child(even) {
  background: #fff;
  margin: 0px;
  text-align: right;
  padding: 5px;
}

/* Bottom Section */
.bottom {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 1fr;
  grid-column: 1/3;
  grid-gap: 0.2em;
  margin-right: 0px;
  padding-right: 0px;
}

.bottom div:last-child {
  justify-self: end;
}
/* styling all the input fields of button and reset */
input[type="button"],
input[type="reset"],
input[type="submit"] {
  width: 150px;
  height: 30px;
  border-radius: 5%;
  background: #9db1c0;
}

input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  border: dotted #094fac 2px;
}

input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
  border: dotted #094fac 2px;
}

/* Styling the error messages */
#customerId,
#name,
#town,
#partNumber,
#description,
#pricePerPart,
#quantity,
#space {
  color: #0914ac;
  font-weight: bold;
  font-style: italic;
  margin: 0px;
}
