<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Student Management System </title>
</head>
<body>
	

	<center><h1> USER DETAILS. </h1></center>
<!-- A Form containing labels , Input fields and submit button -->
	<center><form method="Post" action="login">
		
		<p>
			<label for="fname">First Name:</label>
			<input id="fname" name="fname" type="text">
			<span id="first_name_error"></span>
		</p>

		<p>
			<label for="lname">Last Name:</label>
			<input id="lname" name="lname" type="text">
			<span id="last_name_error"></span>
		</p>
		<p>
			<label for="password">Password:</label>
			<input id="password" name="password" type="password">
			<span id="password_error"></span>
		</p>

		<p>
			<label for="submit"></label>
			<input type="submit" value="Submit"> 
		</p>
</form>
</center>
</body>
</html>