body {
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
    height: 526px;
	border: 1px solid #D9DADF;
	margin: auto;
	margin-top: 70px;
	border-radius: 10px
}

.container .wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1em;
    grid-auto-rows: minmax(100px, auto);
	margin: 50px;
}

.container .wrapper .left .loanForm, .results {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 0.8em;
    grid-auto-rows: minmax(20px, auto);
    justify-items: start;
}

.bottom{
    grid-column: 1/3;
    justify-self: center;
}
