<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Details</title>
</head>
<body>
  <!-- An anchor by which NodeJS will affect this form -->
    <form action ="/login" method="POST">

<!-- Fields in which the user fills in their details -->
        <label>First Name</label><nbsp><input name="first_name"><br>
        <label>Last Name</label><nbsp><input name="last_name"><br>
        <label>Password</label><nbsp><input name="password" type="password"><br>
        <button>Submit</button>
    </form>    
</body>
</html>