<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
    <form action="send" method="POST">
        <h1>
            Login form
        </h1>
        <label>
            FirstName
        </label>
        <br>
        <input type="text" name="firstname">
        <br>
        <label>
            LastName
        </label>
        <br>
        <input name="lastname">
        <br>
        <label>
            Password
        </label>
        <br>
        <input name="password"><br>
        <button type="submit">login</button>
    </form>
</body>
</html>