<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>index</title>
   <link rel="stylesheet" href="style.css">
    
    <style>
    /* rules applying to all html elements within the body */
html,body{
    height: 100%;
    width:100%;
    margin:0px;
    padding: 0px;
     background: rgba(255, 177, 141, 0.747);;
    font-family: calibri;
}
/* calling the a class in css */
.fields_container{
    /* using the flexible box model to come up with
     the block box orientation layout
     */
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
}
.fields_container div{
    margin: 10px;
    width: 400px;
    padding: 5px;
    background: rgb(255, 189, 65);
 
}
.bottom_buttons ul{
    margin-left: 200px;
}
/* applying rules to lists */
li{
    list-style: none;
    display: inline-block;
}
/* calling an ID in css */
#right_button{
    float: right;

}
/* styling all buttons */
button{
    width: 100px;
    background: rgb(255, 189, 65);
    padding: 4px;
    border-radius: 4px;
    outline: none;
}
#right_button button{
    margin-right: 220px;
    width: 100px;
    background: rgb(255, 189, 65);
}
#top_right_fieldset{
height: 110px;
}
/* styling a fieldset */
fieldset{
    border-radius: 5px;
  border:1px solid white;
}
    </style>
</head>
<body>
    <!-- section containing all the elements -->
    <section>
        <!-- form containing all the fields -->
        <form action="upload" onsubmit="return systemValidations()">
            <!-- div containing the top first two form divisions -->
            <div class="fields_container">
               <div>
                  
                   <fieldset>
                        <legend>
                                customer information
                            </legend>
                <table>
                    <tr>
                        <td>
                            <label>Customer_ID:</label>
                        </td>
                        <td>
                            <input type="" placeholder="123-45-6789" id="customer_ID" name="customer_Id"<span id="cusID_err"></span>
                        </td>
                        
                    </tr>
                    <tr>
                        <td>
                            <label>Name:</label>
                        </td>
                        <td>
                           <input type=""placeholder="tom thumb" id="Name" name="name"><span id="name_err"></span>
                        </td>
                        
                    </tr>
                    <tr>
                        <td>
                            <label>State:</label>
                        </td>
                        <td>
                            <input type="text" id="state" name="state"><span id="state_err"></span>
                        </td>
                        <td>
                            <input type="checkbox" value="clickme" id="retail_customer">
                        </td>
                        <td>
                            <label for="">Retail customer</label>
                        </td>
                        
                    </tr>
                </table>
                </fieldset>
               </div>
               <div>
                   <fieldset id="top_right_fieldset">
                       <legend>
                           Shipping
                       </legend>
                <table>
                    <tr>
                        <td>
                            <input type="radio">
                            <label>UPS</label>
                        </td>
                        <td>
                                <td>
                                        <input type="radio">
                                        <label>Fedex Ground</label>
                                    </td>
                        </td>
                    </tr>
                    <tr>
                            <td>
                                    <input type="radio">
                                    <label>US Post Air</label>
                                </td>
                                <td>
                                        <td>
                                                <input type="radio">
                                                <label>Fed Ex Air</label>
                                            </td>
                                </td>
                    </tr>
                </table>
                </fieldset>
               </div>
            </div>
      <!-- div containing the 2 bottom field containers -->
            <div class="fields_container">
                <div>
                    <fieldset>
                        <legend>Part Ordered</legend>
                        <table>
                            <tr>
                                <td>
                                  <label for="">Part Number:</label>  
                                </td>
                                <td>
                                    <input type="text" placeholder="10152" id="partNum" name="part_Number"><span id="prtNo_err"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="">Description:</label>
                                </td>
                                <td>
                                    <input type="text" placeholder="Oil filter" id="description" name="description"><span id="desc_err"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <lable>Price per part:</lable>
                                    <input type="text" placeholder="$7.51" id="price" name="price"><span id="price_err"></span>
                                </td>
                                <td>
                                    <lable>Quantity:</lable>
                                    <input type="text" placeholder="$7.51" id="quantity" name="quantity"><span id="quantity_err"></span>
                                </td>
                            </tr>

                        </table>
                    </fieldset>
                </div>
                <div>
                    <fieldset>
                        <legend>Output</legend>
                        <table>
                            <tr>
                                <td>
                                    <label>Cost:</label>
                                </td>
                                <td>
                                    <input type="text" id="cost" name="cost"><span id="cost_err"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="">Sales Tax</label>
                                </td>
                                <td>
                                    <input type="text" id="sales_tax"><span id="salestax_err"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="">Shipping and handling</label>
                                </td>
                                <td>
                                    <input type="text" name="" id="Shipping"><span id="Shipping_err"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="">Total</label>
                                </td>
                                <td>
                                    <input type="text" name="" id="total"><span id="total_x"></span>
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                </div>
             </div>
             <!-- div containing the buttons -->
             <div class="bottom_buttons">
                 <ul>
                     <li>
                      <button type="submit"  onsubmit="return systemValidations()">compute</button>
                     </li>
                     <li>
                         <button>New order</button>
                     </li>
                     <li id="right_button">
                         <button>Exit</button>
                     </li>
                 </ul>
                </div>
        </form>
    </section>
    <script type="text/JavaScript">
    /*
function systemsvalidations to work on validity of data filled up within the inputs

*/
function systemValidations(){
    //assigning variable cusId to an html element with an Id customer_ID
    var cusId = document.getElementById('customer_ID').value;
    //if statement to make sure the customer id field is not empty
    if (cusId == ""){
        document.getElementById('cusID_err').innerHTML="<b>cannot be missing and cannot contain blank spaces</b>";
        return false;
    }
 //assigning variable cusName to an html element with an Id Name
    var cusName = document.getElementById('Name').value;
    //if statement to make sure the name field is not empty
    if (cusName == ""){
        document.getElementById('name_err').innerHTML="<b>customer name cannot be missing</b>";
        return  false;
    }
     //assining variable partNum to an html element with an id partNum
    var partNum = document.getElementById('partNum').value;
    //condition statement to check and ensure that the part number field is not empty
    if(partNum == ""){
        document.getElementById('prtNo_err').innerHTML="<b>part number can't be empty</b>";
        return false;
    }
    //assining variable desc to an html element with an id description
    var desc = document.getElementById('description').value;
      //condition statement to check and ensure that the description field is not empty
    if(desc == ""){
        document.getElementById('desc_err').innerHTML="<b> Description can't be empty</b>"
        return false;
    }
     //assining variable price to an html element with an id price
    var price = document.getElementById('price').value;
     //condition statement to check and ensure that the price  entered is a number greater than zero
    if(isNaN(price) && price < 0){
        documet.getElementById('price_err').innerHTML="<b> Price must be a number that is greater than zero. </b>"
        return false;
    }

     //assining variable quantity to an html element with an id quantity
     var quantity = document.getElementById('price').value;
     //condition statement to check and ensure that the quantity  entered is a number greater than zero
    if(isNaN(quantity) && price < 0){
        documet.getElementById('quantity_err').innerHTML="<b> Price must be a number that is greater than zero. </b>"
        return false;
    }
// computing for total
var num1 =  parseInt(document.getElementById('cost').value);
var num2 =  parseInt(document.getElementById('sales_tax').value);
var num3 =  parseInt(document.getElementById('Shipping').value);
var total = num1 + num2 + num3;
document.getElementById('total_x').innerHTML=total;

}
    </script>
</body>
</html>