<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Registration form</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<!--main section containing the sigup form-->
	<section class="main_section">

			<div id="colm2">
					<form action="submit" method="POST" id="form">
							
						<h1>Take your time as you register</h1>
						<input type="text"  placeholder="Enter your Username" id="input1" class="textbox" name="user_name">
						<input type="email"  placeholder="Enter your email" id="input1" class="textbox" name="email">
						<input type="password" name="password"  class="textbox" id="input4" placeholder="password">
						
						<button>Submit</button>
					</form>
		 
				</div>
	</section>

		
			
				
			
	
	

</body>
</html>